
    <head>
        <meta charset="utf-8"
        <title>Tech Blog</title>
    </head>
       
    <body>
        <div class="flex-coulmn jusitfy-space-around">
                <header></header>
                    <h1>Welcome</h1>
                </header>

                <nav>
                <ul>
                    <a href="/">Home</a>
                    <a href="#Dashboard">Dashboard</a>
                    <a href="#login">login</a>
                    <a href="#logout">logout</a>
                </ul>
            </nav>

            <main class="container container-fluid mt-5">
                {{body}}
            </main>    
        </div>
    </body>
